/*
 * Project:   Tweetag
 * Date:      2009/09/10
/* ---------------------------------------- */

* { margin: 0; padding: 0; }

html { min-height: 100%; margin: 0 0 1px; font-size: 100.01%; }
body { background: #dbeef7; font-size: 62.5%; }

@media only screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

body, textarea, input, select, option, button { color: #777; font-family: Lucida Grande,Lucida Sans Unicode,sans-serif; line-height: 1.25; }
li, dt, dd, p, th, td, caption, pre { font-size: 1.2em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }

a { color: #2680ad; text-decoration: none; }
a:hover, a:focus, a:active { color: #000; text-decoration: underline; }

ul, ol, dd, blockquote { padding-left: 40px; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
li *, li p, li li, dt *, dd *, p *, th *, td * { font-size: 1em; }

img { border: none; -ms-interpolation-mode: bicubic; }
pre { font-family: "Courier New",monospace; white-space: pre-wrap; }
table { border-collapse: collapse; border-spacing: 0; }
button { overflow: visible; padding: 0 10px; cursor: pointer; } button::-moz-focus-inner { padding: 0; border: none; }

hr { overflow: hidden; height: 1px; margin: 15px 0 !important; margin: -5px 0 8px; padding: 0; border: none; background-color: #ccc; color: #ccc; }
*:first-child+html hr { margin: -7px 0 8px !important; }

.offset { position: absolute !important; left: -10001px !important; overflow: hidden !important; }

/* LAYOUT
------------------------------------------- */

#root { }
 #top { margin: 0; background: #fff url(/public/img/background-a.png) 0 30px repeat-x; }
  #top div.top-inner { position: relative; width: 970px; height: 130px; margin: 0 auto; }
   #logo { position: absolute; left: 0; top: 47px;margin-top:0; }
    #logo a { display: block; overflow: hidden; width: 353px; height: 96px; background: url(/public/img/logo-a.png) no-repeat; text-indent: -10001px; }
   #skip-links { position: absolute; top: 0; left: -10001px; list-style: none; margin: 0; padding: 0; }
    #skip-links li a:focus, #skip-links li a:active { display: block; position: absolute; left: 10001px; top: 0; z-index: 10001; width: 200px; margin: 5px 0 0 15px; padding: 2px 0; background: #333; color: #fff; text-align: center; text-decoration: none; }
  #nav { position: absolute; right: 0; top: 90px; list-style: none; margin: 0; padding: 0; }
   #nav li { display: inline; float: left; margin: 0 0 0 50px; font-size: 2.2em; font-weight: bold; line-height: 1.2; }
    #nav li a { color: #fff; }
    #nav li em { position: absolute; left: -10001px; top: -10001px; }
  #top-nav { position: absolute; right: 0; top: 7px; list-style: none; margin: 0; padding: 0; }
   #top-nav li { display: inline; float: left; margin: 0 0 0 15px; font-size: 1.3em; }
 #content { }
  #primary { padding: 50px 0 50px; background: #fff; }
	#primary div.primary-product { width: 704px; margin: 0 auto; }
  #secondary { background: #eff8fc url(/public/img/background-c.gif) repeat-x; padding-bottom:0px;}
   #secondary div.secondary-inner { width: 970px; margin: 0 auto; padding: 5px 0 15px; }
 #footer { padding: 10px 0 10px; background:#DBEEF7 url(/public/img/background-b.gif) repeat-x; color: #4b8aa7; }
  #footer div.footer-inner { overflow: hidden; width: 970px; margin: 0 auto; }
   #footer div.copys { float: right; padding: 5px 0 10px 40px; background: url(/public/img/sep-a.gif) repeat-y; }
    #footer div.copys p.follow { margin: 0 0 5px; color: #4b8aa7; font-size: 2em; font-weight: bold; }
    #footer div.copys p { margin: 0; font-size: 1em; color: #78b0ca; }
   #footer div.contact { float: left; }
    #footer div.contact p { display: inline; float: left; margin: 0 0 0 30px; padding: 10px 0 15px 30px; background: url(/public/img/sep-a.gif) repeat-y; font-size: 2em; font-weight: bold; }
    #footer div.contact p.first { margin-left: 0; padding-left: 0; background: none; }
     #footer div.contact p span { display: block; font-size: 0.65em; font-weight: normal; }
   
/* GENERAL
------------------------------------------- */

/* headers */

h1, h2, h3, h4, h5, h6 { color: #254872; font-weight: bold; line-height: 1.2; }
h1 { font-size: 2.6em;}
h2 { font-size: 2.1em; margin-top:30px;}
h3 { font-size: 1.6em; margin-top:30px; clear:left; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }


.homepage h1,h2 { margin-top:0; }
.homepage h3 { clear:none; }
.homepage #primary { padding-bottom:5px;}
.homepage #primary div.primary-inner { overflow:visible;}

/* cols */

div.cols-two-a { overflow: hidden; width: 100%; }
 div.cols-two-a div.primary { float: left; width: 350px; }
 div.cols-two-a div.secondary { float: right; width: 490px; }
 
div.cols-three-a { overflow: hidden; width: 100%; }
 div.cols-three-a div.primary { display: inline; float: left; width: 32%; margin-left: 0; }
 div.cols-three-a div.secondary { display: inline; float: left; width: 32%; margin-left: 1.8%; }
 div.cols-three-a div.tertiary { display: inline; float: left; width: 32%; margin-left: 1.8%; }

/* containers */

div.box-a { margin: 0 0 25px; padding: 20px 20px 5px; border: 1px solid #b3d6e5; border-bottom-color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #fff url(/public/img/dot-a.gif) 0 100% repeat-x; }

div.features-a { padding: 25px 15px 1px 25px; }
 div.features-a div.feature-a { margin-bottom: 25px; }

div.feature-a { overflow: hidden; width: 100%; margin: 0 0 20px; }
 div.feature-a p.image { float: left; width: 40px; margin: 0 -40px 0 0; }
  div.feature-a p.image img { float: left; }
 div.feature-a h3 { margin: 0 0 1px 50px; color: #5a5a5a; font-size: 1.2em;clear:none; }
 div.feature-a p { margin: 0 0 0 50px; color: #8a8a8a; }

div.introduction-a { display: block; margin-top: -30px; }
 div.introduction-a div.item { display: block; background: url(/public/img/sep-b.gif) -5px -5px repeat-x; overflow:hidden; }
 * html div.introduction-a div.item { overflow: hidden; width: 100%; }
 *:first-child+html div.introduction-a div.item { overflow: hidden; width: 100%; }
 div.introduction-a div.select { background: none; }
  div.introduction-a div.item h2 { display: block; padding: 30px 0 0 0; }
  * html div.introduction-a div.item h2 { float: left; padding-top: 50px; }
  *:first-child+html div.introduction-a div.item h2 { float: left; padding-top: 50px; }
  div.introduction-a div.item p.image { display: block; width: 310px; margin:10px 20px 10px 10px;padding: 0; float:left;}
  * html div.introduction-a div.item p.image { float: left; }
  *:first-child+html div.introduction-a div.item p.image { float: left; }
  div.introduction-a div.item div.description { padding: 10px 0; margin:0px; }
  * html div.introduction-a div.item div.description { float: left; padding-top: 10px; padding-bottom:40px; }
  *:first-child+html div.introduction-a div.item div.description { float: left; padding-top: 0px; }
   div.introduction-a div.item div.description h3 { margin: 0 0 5px; color: #336f8b; font-size: 1.5em; }
   div.introduction-a div.item div.description p { margin: 0; color: #336f8b; font-size: 1.3em; }
 
div.news-a { margin: 0 0 20px; }
 div.news-a h3 { margin: 0 0 2px; font-size: 1.4em; text-transform: uppercase; }

div.testimonial-a { margin: 0 0 15px; color: #588ea8; }
 div.testimonial-a blockquote { margin: 0; padding: 0; }
  div.testimonial-a blockquote p { margin: 0 0 5px; }
 div.testimonial-a p.author { margin: 0; font-style: italic; text-align: right; }
 
div.tour-a { overflow: hidden; width: 100%; margin: -30px 0 0; }
* html div.tour-a { overflow: visible; height: 290px; }
 div.tour-a p.image { float: left; width: 480px; margin: 0; }
 *:first-child+html div.tour-a p.image { margin-right: 0; }
 div.tour-a h2 { margin: 0 30px 30px 480px; padding: 40px 0 0; color: #88c1da; font-size: 4em; text-align: center; }
 div.tour-a p.button { margin: 0 30px 0 480px; }
  div.tour-a p.button a { display: block; overflow: hidden; width: 233px; height: 50px; margin: 0 auto; background: url(/public/img/tour-a-button.png) no-repeat; text-indent: -10001px; }
  div.tour-a p.button a:hover,
  div.tour-a p.button a:focus,
  div.tour-a p.button a:active { background-position: 0 -50px; }

/* tables */

table { }
 table th, table td { padding: 5px 10px; border: 1px solid #ccc; }

/* lists */

ol.steps-a { position: relative; list-style: none; width: 600px; height: 40px; margin: 0 auto 50px; padding: 0; background: url(/public/img/step-a.png) no-repeat; }
 ol.steps-a li { position: absolute; left: 0; top: 0; width: 315px; }
 ol.steps-a li.edit { left: 213px; }
 ol.steps-a li.publish { left: 527px; }
  ol.steps-a li span { position: absolute; left: -10001px; top: -10001px; }
  ol.steps-a li strong { display: block; overflow: hidden; width: 100%; height: 40px; background: url(/public/img/step-a.png) 0 -40px no-repeat; text-indent: -10001px; }
  ol.steps-a li.edit strong { background-position: -313px -40px; }
  ol.steps-a li.publish strong { background-position: -627px -62px; }

/* paragraphs */

p.featured-a { color: #336f8b; font-size: 1.4em; }
 p.featured-a strong { font-weight: normal; vertical-align: -3px; }
 p.featured-a span { color: #eff8fc; }
 p.featured-a img { vertical-align: middle; }

/* other */
/*
#wrap {
	padding-bottom:30px;
}
*/
form.form_demo {
	margin:45px 30px;
}

form.form_demo p {
	margin:15px;
}

form.form_demo label {
	display:block;
	overflow:hidden;
	width:175px;
	float:left;
	margin:3px;
	font-size:14pt;
}

form.form_demo input {
	font-size:14pt;
	width:260px;
}

form.form_demo textarea {
	font-size:14pt;
	width:265px;
	height:150px;
}

form.form_demo .submit {
	margin:20px 180px;
}


#contactus {

}

.left_column {
	float:left;
	margin-right:80px;
	overflow:hidden;
	width:600px;
}

.right_column {
	width:260px;
	float:left;
}

.sidebar_box {
	background: white;
	padding:15px 15px 5px 15px;
	border:4px solid #ADDEF4;
/*	text-align:center;*/
}

.right_column .icon {
	width:150px;
}

.sidebar_box h3 {
	margin-top:0;
}

.left_column p {
	font-size:10pt;
	line-height:1.5;
}

#references {
	
}

#scheduledemo {

}

#wrap {
	
}


.button {
	cursor:pointer;
}

#level1 {

	height:370px;
}

#level1.newsfeed {
	background:transparent url(/public/img/newsfeed_gradient.png) no-repeat scroll 0 0;
	height:370px;
	
}

#newsfeed_headline {
	margin-left:575px;
	padding-top:100px;
	width:490px;
}

#newsfeed_headline h2 {
	margin:0px 0px 15px 0px;
}

#level1.signup {
	height:auto;
}

#level2 {
	margin-top:0px;
}

#level2_col1 {
	width:560px;
	float:right;
	overflow:hidden;
	margin-left:30px;
}

#benefits {
	width:350px;
	float:left;
	overflow:hidden;
}

#benefits img.signup {
	margin-left:45px;
}

#features_list {
	
}

#features_list li {
	
}

#signup_column {
	width:250px;
	float:left;
}

#signup_button {
	color:black;
	background:rgb(204, 204, 204);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221)));
	border-color:1px solid rgb(153, 153, 153);
	-webkit-appearance: none;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;

	font-size:16pt;
	height:25px;
	margin:60px auto;
	overflow:hidden;
	padding:10px;
	text-align:center;
	width:200px;
}
#signup_button2 {
	background:#009800 none repeat scroll 0 0;
	color:white;
	font-size:12pt;
	height:20px;
	margin:30px auto;
	overflow:hidden;
	padding:10px;
	text-align:center;
	width:160px;
}

#signup_box {
	overflow:hidden;
	margin:0 auto;
	padding:40px 0px 20px 0px;
	width:930px;
}

#signup_box h2 {
	color:black;
	line-height:1.5;
	font-weight:normal;
	margin:40px 0 20px 0;
}
#signup_box b {
	font-size:20pt;
}
#signup_box p {
	line-height:1.7;
	font-style:normal;
	font-size:11pt;
}
#signup_box img.cover {
	float:left;
	width:400px;
	margin-right:80px;
}

#signup_img {
	margin:40px 0 0 130px;
	width:auto;
}


#features_list {
	margin:30px 0px;
	padding-left:25px;
}

#features_list li {
	/*list-style-image:url('/public/img/v.png');*/
	margin-bottom:10px;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.5;
	color:#5A5A5A;
}

#features_list li info {
	display:block;
	font-weight:normal;
	color:#8A8A8A;
}

h2 {
	margin:30px 0 15px 0px;
	color:rgb(37,72,114);
	text-align:left;
}

#slideshowexamples {
	display:inline;
	overflow:hidden;
}

#slideshowexamples li {
	list-style:none;
	display:inline;
	float:left;
	margin:20px;
}

#slideshowexamples p {
	font-weight:bold;
	text-align:center;
}

#header_nav {
	float:right;
	margin:40px 0 0 0;
}

#header_nav ul {
	padding:0;
	margin:0;
	color:white;
	display:inline;
}

#header_nav ul li {
	color:white;
	text-transform:uppercase;
	letter-spacing:1.5px;
	list-style:none;
	display:inline;
	float:left;
	font-size:11pt;
	margin:10px 40px 0 0;
}

.inner_window
{
	margin:0 auto;
	width:700px;
}


body {
	background:white;
}

#page {
	margin:0px auto;
	overflow:hidden;
}

#topnav {
	position:relative;
	text-align:right;
	overflow:hidden;
	font-size:8pt;
	padding:3px;
}

#topnav ul {
	padding:0;
	margin:0px 10px;
}

#topnav ul li {
	list-style:none;
	display:inline;
	font-size:8pt;
}

#inner_header {
	width:970px;
	margin:0 auto;
}

#inner_page {
	border:1px solid white;
	overflow:hidden;
}

#header {
	overflow:hidden;
	padding:45px 10px 0px 10px;
	position:relative;
	/*background:rgb(37,72,114);*/
	background:#FFFFFF url(/public/img/background-a.png) repeat-x scroll 0 30px;
	/*
	background: rgb(37,72,114) url('/public/img/header_gradient.png') repeat-x bottom;
	background:-webkit-gradient(linear, left top, left bottom,from(rgb(37,72,114)), to(rgb(71,128,197)));
	*/
}

#header a {
	color:white;
	background:none;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	text-indent:0;
}

#main {
	overflow:hidden;
	position:relative;
}

#primary {
	margin:0 auto;
	width:970px;
	padding:0px;
}

.primary-inner {
	width:970px;
	padding:0px;
	margin:0;
	margin-top:40px;
}

#footer {
	color:white;
	padding:15px 0 20px;
	margin-top:30px;
	position:relative;
	background:background:#DBEEF7 url(/public/img/background-b.gif) repeat-x scroll 0 0;
	color:#4B8AA7;
	}
	
	

.inner {
	width:970px;
	margin:0 auto;
}

#footer a {
	color:#265177;;
}

.left {
	float:left;
}

.right {
	float:right;
}

#logo {
	color:white;
	top:0;
	position:relative;
	float:left;
	background:url('/public/img/publitweet_logo.png') no-repeat top left;
	padding-left:85px;
	height:86px;
}

#logo h1 {
	color:white;
	font-weight:normal;
	font-family:Times, Arial;
	font-size:36pt;
	margin:0;
	margin-top:5px;
}

#logo h2 {
	color:white;
	margin:0;
	font-size:9pt;
	margin-top:-10px;
}

#list_of_examples {
	float:left;
	width:150px;
}

#list_of_examples ul {
	padding:0;
}

#list_of_examples ul li {
	list-style:none;
	font-size:14pt;
	line-height:2;
}

.devel_notice {
	background:red none repeat scroll 0 0;
	color:white;
	font-weight:bold;
	padding:5px 0;
	text-align:center;
	width:100%;
}

#page.devel {
	border:3px solid red;
}